/* Name:D's friends colours
Version: 1.0.3
Contact: D |049| CatBoy#0049
Invite:https://discord.gg/cDqrgYajAr 
*/


/* Dan */


.message-2qnXI6[data-user-id="394804652064899072"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="394804652064899072"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="394804652064899072"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="394804652064899072"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="394804652064899072"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="394804652064899072"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="394804652064899072"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="394804652064899072"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="394804652064899072"] .username-2b1r56,
.root-3QyAh1[data-user-id="394804652064899072"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  
  background-image: radial-gradient(circle, #00cbff 0%, #4cc472 12%, #b7ab63 30%, #d6a512 51%, #ce2020 70%, #840707 100%);


/* myiieon */
}

.message-2qnXI6[data-user-id="867943602507116545"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="867943602507116545"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="867943602507116545"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="867943602507116545"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="867943602507116545"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="867943602507116545"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="867943602507116545"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="867943602507116545"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="867943602507116545"] .username-2b1r56,
.root-3QyAh1[data-user-id="867943602507116545"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
 

  background-image: linear-gradient(90deg, #def3fd 0%, #fdfd96 50%, #defde0 100%);
   

/* Kurt */
}

.message-2qnXI6[data-user-id="766271780058431488"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="766271780058431488"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="766271780058431488"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="766271780058431488"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="766271780058431488"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="766271780058431488"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="766271780058431488"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="766271780058431488"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="766271780058431488"] .username-2b1r56,
.root-3QyAh1[data-user-id="766271780058431488"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;

  background-image: linear-gradient(90deg, #020024 0%, #4E17AC 50%, #00d4ff 100%);

/* Tako */

}

.message-2qnXI6[data-user-id="831214515093635123"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="831214515093635123"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="831214515093635123"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="831214515093635123"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="831214515093635123"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="831214515093635123"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="831214515093635123"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="831214515093635123"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="831214515093635123"] .username-2b1r56,
.root-3QyAh1[data-user-id="831214515093635123"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;

  background-image: linear-gradient(135deg, #000000 0%, #f8c2ff 20%, #00fec8 40%, #000000 60%, #00fec8 80%, #00fec8 100%);


/* Taz the pool boy */

}

.message-2qnXI6[data-user-id="423035750561349632"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="423035750561349632"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="423035750561349632"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="423035750561349632"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="423035750561349632"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="423035750561349632"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="423035750561349632"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="423035750561349632"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="423035750561349632"] .username-2b1r56,
.root-3QyAh1[data-user-id="423035750561349632"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;

 background-image: radial-gradient(circle, #f2bd51 0%, #eec550 0%, #f1b455 22%, #ed5a22 80%, #cf241c 100%, #8c0601 100%);
  
  
  
  
  /* Nycto */
  
  }

.message-2qnXI6[data-user-id="801074489500762152"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="801074489500762152"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="801074489500762152"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="801074489500762152"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="801074489500762152"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="801074489500762152"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="801074489500762152"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="801074489500762152"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="801074489500762152"] .username-2b1r56,
.root-3QyAh1[data-user-id="801074489500762152"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;

background-image: linear-gradient(90deg, #c9c9c9 0%, #48484d 40%, #000000 100%);



  /* Gold */
  
  }

.message-2qnXI6[data-user-id="765919439202811938"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="765919439202811938"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="765919439202811938"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="765919439202811938"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="765919439202811938"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="765919439202811938"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="765919439202811938"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="765919439202811938"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="765919439202811938"] .username-2b1r56,
.root-3QyAh1[data-user-id="765919439202811938"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;

background-image: linear-gradient(90deg, #ff84f0 0%, #fdff00 50%, #649bff 100%);



  /* Ducky the slut */
   
  }

.message-2qnXI6[data-user-id="445685707776851978"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="445685707776851978"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="445685707776851978"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="445685707776851978"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="445685707776851978"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="445685707776851978"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="445685707776851978"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="445685707776851978"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="445685707776851978"] .username-2b1r56,
.root-3QyAh1[data-user-id="445685707776851978"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;

background-image: linear-gradient(90deg, #fff520 0%, #ffdd98 50%, #ffbfbf 100%);




  /* ranger */
   
  }

.message-2qnXI6[data-user-id="765316548516380732"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="765316548516380732"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="765316548516380732"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="765316548516380732"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="765316548516380732"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="765316548516380732"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="765316548516380732"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="765316548516380732"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="765316548516380732"] .username-2b1r56,
.root-3QyAh1[data-user-id="765316548516380732"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;

background-image: linear-gradient(90deg, #ffc0cb 35%, #00ffcb 100%);



  /* Doot */
   
  }

.message-2qnXI6[data-user-id="476415736466636810"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="476415736466636810"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="476415736466636810"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="476415736466636810"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="476415736466636810"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="476415736466636810"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="476415736466636810"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="476415736466636810"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="476415736466636810"] .username-2b1r56,
.root-3QyAh1[data-user-id="476415736466636810"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  
background-image: linear-gradient(96deg, #f2709c 0%, #ff9472 100%);



 /* To make it move */
  
}
@keyframes shine {

  to {
    background-position: 300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}


/* rainbow background for banner if it is a solid colour - Removed Forever */
  
  /* Light screen lock */
  
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::before, 
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::after, 
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type * {
    visibility: hidden !important;
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type {background-color: #23283d !important}
.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3) {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
}
.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3)::before {
    position: absolute;
    content: "🔒";
    visibility: visible !important;
    font-size: 17px;
}



/* Moving and rainbow ping button */ 

.numberBadge-2s8kKX { background-image: linear-gradient(to left, rgb(51,255,0), rgb(255,230,0), rgb(255,0,0), rgb(234,0,255), rgb(0,140,255), rgb(51,255,0)); background-size: 500% 100%; color: rgb(0,0,0); animation: animatedPing 1.3s infinite ease-in-out, gradient-border 5s linear infinite }@keyframes gradient-border { from { background-position: 0 0 } to { background-position: 130% 0 } }@keyframes animatedPing { 0% { transform: rotate(-12deg) } 50% { transform: rotate(12deg) scale(1.2) } 100% { transform: rotate(-10deg) } }


/* better game panel */
.panel-24C3ux { position: relative; z-index: 1; padding: 16px 8px;}
.panel-24C3ux .gameIconWrapper-1YByCI { position: static;}
.panel-24C3ux .gameIcon-gg34Dz {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 100%;
    border-radius: 0; z-index: -1;
    -webkit-mask-image: linear-gradient(90deg, #00000000, #000000);
    background-position: center;
}


/* TO DO LIST
1. Fix rainbow background - Cant be fixed for full profile I will not continue this.
2. Add more people
3. Anything that breaks fix
4. IDK anything else
*/
